/* --- general styles --- */

* {
    outline: none;
	//border: 1px solid;
}

html {
    font-size: 62.5%; /* Sets up the Base 10 stuff 100%/1.6 */
	height: 100%;
}

body {
    background-color: #1d242e;
    height: 100%;
    width: 100%;
    color: $mainTextColor;
	font-smoothing: antialiased; 
	-webkit-font-smoothing: antialiased; 
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	#header{
		text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 2s ease, transform 1s ease;	
	}
    #header:not(.header-inner){
        //transition-delay: 2.5s;
        transition-delay: 2s;
		will-change: transition;
    }
	#header.header-inner{
		transition-delay: 0.8s;
		will-change: transition;	
	}
    #footer{
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 2s ease, transform 1s ease;
        //transition-delay: 2.5s;
        transition-delay: 2s;
		will-change: transition;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

h1,
.h1 {
    @include font-size(4.001);
    @include line-height(5.201);
    font-family: 'FuturaNewMedium', $font-stack-helvetica;
    color: $mainTextColorDark;
    margin: 0;
    padding: 2px 0;
}

h2,
.h2 {
    @include font-size(3.6);
    @include line-height(5.201);
    font-family: 'FuturaNewMedium', $font-stack-helvetica;
    color: $mainTextColorDark;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
.disabled{
	opacity: .5;
	cursor: default;
	transition: none;
}

.fl-right{
    float: right;
}

/* --- end of general styles --- */

body.ready{
    #header,
    #footer,
    #fp-nav.nav-slider{
        opacity: 1;
        transform: translateY(0); 
    } 
    .flxmd{
        opacity: 1;
        transform: translateY(-175%); 
    } 
}

#header,
#footer{
    position: fixed;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
#header{
    top: 0;
    padding-top: 2.625%; /* 42px/1600px */
    z-index: 1;
}
#footer{
    bottom: 0;
    //padding-bottom: 2.8125%; /* 42px/1600px */
	padding-bottom: 2.5%;
}
#header .left-col{
    width: 42.5%;
    box-sizing: border-box;
    /* float: left; */
    display: inline-block;
    text-align: left;
    padding-left: 9.375%;
}
#header .right-col{
    width: 57.5%;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    padding-left: 8.125%; /* 130/1600 */
    nav{
        margin-left: -18px;
    }
}
.left-col{
    float: left;
    width: 42.5%; /* 680px/1600px */
    padding-left: 9.375%; /* 150px/1600px */
    box-sizing: border-box;
}

.menu-inner{
    height: 30px;
    display: inline-block;
    width: 100%;
    @include font-size(0);
    @include clearfix;
}
.logo{
    height: 50px;
    width: 50px;
    float: left;
    left: 2.5%;
    position: absolute;
	a{
		display: block;
		transition: opacity .25s ease;
		svg path{
			fill: #d9c39c;
		}
	}
	a:hover{
		opacity: .7;
	}
}
.hamburger{
	display: none;
	a.navbar-toggle{
		span{
			display: block;
			height: 3px;
			width: 32px;
			margin: 6px 0;
			background-color: $mainTextColor;
			transition: opacity .3s ease;
		}	
	}
	a.navbar-toggle{
		transition: opacity .3s ease;
	}
	a.navbar-toggle:hover span{
		opacity: .7;
	}
//	a.navbar-toggle.visible{
//		transition: opacity .3s ease;
//	}
//	a.navbar-toggle.visible:hover span{
//		opacity: .7;
//	}
}

nav{
    float: left;
}
nav{
    @include font-size(0);
}
nav li{
    display: inline-block;
}
nav li a{
    @include font-size(1.8);
    @include line-height(4.6);
    vertical-align: bottom;
    color: $mainTextColor;
    padding: 0 18px;
}
nav li a.active::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: $mainTextColor;
    display: block;
    position: relative;
    top: -10px;
}
nav.left-menu li a.active::after{
    opacity: 1;
} 
nav.right-menu li a.active::after{
    opacity: .7;
} 
.left-menu{
    margin-left: -18px;
    a{
        font-family: 'FuturaNewMedium', $font-stack-helvetica; 
    }
}
.right-menu{
    a{
        font-family: 'FuturaNewLight', $font-stack-helvetica; 
        @include line-height(4.7);  /* выравнивание меню */
    }
}

.personal{
    float: right;
    width: 30.3%;
    box-sizing: border-box;
    a{
        color: $mainTextColor;
        @include font-size(1.8);
        @include line-height(4.7);
        display: inline-block;
        font-family: 'FuturaNewLight', $font-stack-helvetica;
        margin-left: -27px;
    }
    svg{
        fill: $mainTextColor;
        float: left;
        padding-right: 7px;
        width: 20px;
        position: relative;
        top: 7px;
        height: 30px;
    }
    
}

/* slider begin */

#fullpage {
    background-color: #1d242e;
	//min-height: 600px;
    //height: 100%;
	//min-width: 992px;
    width: 100%;
}

.section {
    position: absolute;
	top: 0;
	left: 0;	
    text-align: center;
    height: 100% !important;
    width: 100%;
	z-index: 5;
	&.active{
		z-index: 6;
	}
    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .slider-content {
        position: relative;
        z-index: 1;
        height: 100%;
        &::before{
            content: '';
            width: 42.5%; /* 680px/1600px */
            height: 100%;
            opacity: 0;
            background-color: #1d242e;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: opacity 1s ease;
        }   
    }   
}
//.section.fp-section.active.completely {
//    .bg-img {
//        img{
//            opacity: 1;
//            transition: opacity 1s ease;
//        }
//    }
//    .slider-content{
//        transition-delay: 1s;  
//    }   
//}
.content{
    text-align: left;
    top: 22.9%;
    position: absolute;
    width: 100%;
}
a{
    display: inline-block;
    color: $addTextColor;
}
.cat-number{
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    @include font-size(9.001);
    float: left;
    padding-right: 20px;
}
.cat-content{
    overflow: hidden;
    .tags{
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        color: $greyTextColor;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        @include font-size(1.2);
        @include line-height(1.804);
        padding-bottom: 10px;
    }
    .cat-text{
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        @include font-size(2.6);
        @include line-height(3);
    }
}
        .left-content{
            float: left;
            width: 42.5%;
            padding-left: 9.375%;
            box-sizing: border-box;
            a{
                width: 75%;
                opacity: 0;
            }
        }
        .right-content{
            float: left;
            width: 57.5%;
        }
.slider-content .right-content{
    width: 57.5%;
    float: left;
}

.custom-row{
    /* margin-top: 6.40%; */ 
    @include font-size(2.4);
    @include line-height(3.2);
    width: 66.30%; /* 610/920 */
    float: left;
    display: inline-table;
    /* margin-bottom: 2.5%; */
    opacity: 0;
    padding-left: 14.13%; 
    box-sizing: border-box;
    /* margin-left: -65px; */
    a{
        position: relative;
    }
}
.slider-content .content-row{
    @include clearfix;
    .right-content{
        float: right;
        position: relative;
    }
}

.slider-content .content-row:first-child{
    margin-top: 7.5%;
}

.slider-content .content-row:last-child{
    margin-top: 2.2%;
}

.custom-row time{
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    color: $greyTextColor;
    @include font-size(1.8);
    @include line-height(2.4);
    float: left;
    text-align: right;
    top: 10px;
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    float: left;
    top: 9px;
    width: 45px;
    left: -65px;
    span{
        color: $mainTextColor; 
        @include font-size(4.001);
        @include line-height(2.4);
        display: block;
        padding-bottom: 5px;
    }
}
.custom-row.col-2 time{
    padding-top: 15px;
}

.news-cont{
    font-family: 'MinionPro-Semibold';
    color: $mainTextColor;
    @include font-size(2.4);
    @include line-height(3.2);
    vertical-align: top;
    overflow: hidden;
    border-top: 1px solid #6f7881;
    padding-top: 20px;
}
.custom-row.col-2{
	@include font-size(0);
    .news-cont{
    font-family: 'MinionPro-Regular', $font-stack-helvetica;
    color: $mainTextColor;
    @include font-size(1.797);
    @include line-height(2.395);
    padding-top: 15px;
    a{
        
        vertical-align: top;
    }
    time{
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        color: $greyTextColor;
        @include font-size(1.797);
        @include line-height(2.395);
        top: 7px;
        span{
            @include font-size(3.992);
            @include line-height(2.395);
        }
    }
    }  
}
.custom-row.col-2 > a{
	width: 38.4%;
    box-sizing: border-box;
    opacity: 0;
    vertical-align: top;
    display: inline-block;
}
.custom-row.col-2 > a:first-child{
    margin-right: 11.5%;
}
.custom-row.col-2 > a:last-child{
    margin-left: 11.5%;
}

.tags{
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    color: $greyTextColor;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include font-size(1.2);
    @include line-height(1.8);
    padding-top: 10px;
}

.team-user{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 33.70%;
    box-sizing: border-box;
    padding-left: 7.61%; /* 70/920 */
    padding-right: 9.78%; /* 90/920 */
    .custom-user__avatar{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .username{
        color: $mainTextColor;
        font-family: 'MinionPro-Semibold', $font-stack-helvetica;
        @include font-size(2.395);
        @include line-height(3.2);
        margin-bottom: 3px;
    }
    .custom-user__position{
        @include font-size(1.198);
        @include line-height(1.8);
        letter-spacing: 0.199em;
    }
    .custom-user__desk{
        color: $mainTextColor;
        font-family: 'MinionPro-Regular', $font-stack-helvetica;
        @include font-size(1.797);
        @include line-height(2.395);
        margin-top: 20px;
    }
}
.icon-arr{
    display: inline-block;
    width: 21px;
    position: relative;
    top: 5px;
}
body.ready #fullpage.loaded{
    .section .slider-content::before{
        opacity: 0.5;
    }
    .section.active .left-content a{
        opacity: 1;
        transition: opacity 0.5s ease;
         transition-delay: .1s; 
    }
    .section.active .slider-content .right-content{
        .custom-row,
        .team-user{
            opacity: 1;
            transition: opacity 0.5s ease;
            transition-delay: .3s;
        }
        .custom-row.col-2{
            a:first-child{
                opacity: 1;
                transition: opacity 0.5s ease;
                transition-delay: .5s;
            }
            a:last-child{
                opacity: 1;
                transition: opacity 0.5s ease;
                transition-delay: 0.7s;
            }  
        }
        .team-user{
            transition-delay: 0.9s; 
        }
    }
} 

.section .bg-img {
    opacity: 0;
    transform: rotate(20deg) scale(2);
}

.section.active .bg-img {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition: opacity 2s ease, transform 2.5s linear;
}

#fp-nav.nav-slider{
    position: fixed;
    //bottom: 5.3%; /* 45px/962px + отступ */
	bottom: 0;
	padding-bottom: 2.9%;
    right: 12.6%;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 1s ease; 
    transition-delay: 2s;
    .js-nav-current{
        color: $addTextColor;
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        @include font-size(2.6);
        @include line-height(3.4);
        position: relative;
        bottom: 15px;
        left: 25px;
        &::before{
            content: '';
            display: inline-block;
            position: relative;
            bottom: 5px;
            right: 9px;
            height: 2px;
            width: 17px;
            background-color: $addTextColor;
        } 
    }
    ul li{
        float: left;
        width: 30px;
        height: 48px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }
    ul > li:last-child a::after{
        display: none;
    }
    a{
        position: relative;
    }
    a:after{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 6px;
        background-color: #65696e;
    }
    a span{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 14px;
        margin: 0;
        padding: 0;
        height: 4px;
        background-color: #fff;
        width: 2px;
        transition: height 1s ease, background-color 1s ease;
    }
    a:hover span{
        height: 14px;
        width: 2px;
    }
    a.active span{
       height: 48px;
       background-color: $addTextColor;
    }
}

/* end slider */

body.ready{
    .main-fix-content {
        .heading p{
            opacity: 1;
            transition: opacity 0.5s ease;
            //transition-delay: 1.9s;
            transition-delay: 1s;
            &::before{
                content: '';
                position: absolute;
                left: -50px;
                top: 29px;
                width: 37px;
                height: 5px;
                opacity: 1;
                transform: scaleX(1);
                transition: opacity 0s ease, transform 0.3s ease;
                //transition-delay: 3.9s;
                transition-delay: 2.9s;
            }  
        }
        
    }
    .right-col{
        .news,
        .team{
            opacity: 1;
            transition: opacity 0.5s ease;
            transition-delay: 1.2s;
        }
        .team{
            transition-delay: 1.8s;
        }
    }
}

.main-fix-content{
    position: absolute;
    width: 100%;
    height: 0; /* иначе перекрывает контент слайдов */
    top: 22.9%; /* 212px */
    left: 0;
    @include clearfix;
    .left-col{
        float: left;
        width: 42.5%;
        padding-left: 9.375%;
        padding-right: 2.5%;
        box-sizing: border-box;
    }
    .right-col{
        float: left;
        width: 57.5%;
        overflow: visible!important;
        margin-top: 20px;
    }
    .heading p{
        font-family: 'FuturaNewMedium', $font-stack-helvetica; 
        @include font-size(4.801);
        @include line-height(5.201);
        position: relative;
        opacity: 0;
        &::before{
            content: '';
            opacity: 0;
            transform: scaleX(0.1);
            transition-delay: 4.2s;
            background-color: $mainTextColor;
        }
    }
}
.main-fix-content .right-col{
    overflow: hidden;
    .news{
        width: 50%;
        box-sizing: border-box;
        padding-left: 14.13%; /* 130/920 */
        float: left;
        opacity: 0;
        
    }
    .team{
        width: 33.70%;
        box-sizing: border-box;
        float: right;
        padding-left: 7.61%;
        padding-right: 4.35%;
        position: relative;
        opacity: 0;
    }
}

/* footer */

.social,
.lang,
.copyright{
   display: inline-block; 
}
.social{
    margin: -7px;
    position: absolute;
    left: 2.5%;
    @include font-size(0);
    li{
        
        display: inline-block; 
        a{
            display: inline-block;
            width: 27px;
            padding: 7px;
        }
        svg{
            fill: $mainTextColor;
        }
    }    
}
.lang{
    width: 42.5%;
    height: 24px;
    box-sizing: border-box;
    padding-left: 9.375%;
    span{
       font-family: 'MinionPro-It', $font-stack-helvetica;
        @include font-size(1.8);
    }
    span::after{
        content: '';
        display: inline-block;
        margin: 0 4px 0 7px;
        position: relative;
        bottom: 3px;
        height: 2px;
        width: 26px;
        background-color: #c3c4c5;
    }
    a.eng{
        color: $addTextColor; 
        font-family: 'MinionPro-Regular', $font-stack-helvetica;
        @include font-size(1.8);
    }
}
.copyright{
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    @include font-size(0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #b7b5b1;
    width: 57.5%;
    box-sizing: border-box;
    float: right;
    padding-left: 8.125%;
//    padding-top: 10px;
	height: 24px;
	line-height: 24px;
    span{
        border-right: 2px solid #787878;
        padding: 0 11px;
        @include font-size(1.2);
        margin-left: -11px;
    } 
    a.terms-of-use{
        color: $greyTextColor;
        padding: 0 11px;
        @include font-size(1.2);
    }
}
.flxmd{
    position: fixed;
    text-transform: uppercase;
    right: 2.5%;
//    bottom: 4.68%;
    //bottom: 54.68%;
	bottom: 65%;
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    letter-spacing: 0.2em;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 2s;
    @include font-size(1.2);
    @include line-height(3.6);
    a{
        transform: rotate(270deg);
        position: relative;
        right: -45%;
        color: $greyTextColor;
        span{
            color: $addTextColor;
        }
    }
    
}


/* hovers main page */

nav li a,
nav li a,
.personal a,
.personal a,
.news-cont p:not(.tags),
.news-cont p:not(.tags),
.custom-user,
.custom-user .username,
.custom-user .custom-user__desk{
    transition: color 0.25s ease;
}

nav li a:hover,
nav li a:active,
.personal a:hover,
.personal a:active,
.news-cont p:not(.tags):hover,
.news-cont p:not(.tags):active,
.custom-user:hover .username,
.custom-user:active .username,
.custom-user:hover .custom-user__desk,
.custom-user:active .custom-user__desk{
    color: $addTextColor;
}

.social a svg path,
.personal a svg path{
    transition: fill 0.25s ease;
}

.social a:hover svg path,
.personal a:hover svg path{
    fill: $addTextColor;
}

.left-content a .cat-content .cat-text,
.right-col .news a .cat-text,
.right-col .team a .cat-text,
.lang a.eng{
    transition: color 0.25s ease; 
}

.left-content a:hover .cat-content .cat-text,
.right-col .news a:hover .cat-text,
.right-col .team a:hover .cat-text,
.lang a.eng:hover{
    color: $mainTextColor;
}

.left-content a .cat-content .cat-text .icon-arr svg path,
.right-col .news a .cat-text .icon-arr svg path,
.right-col .team a .cat-text .icon-arr svg path{
    transition: stroke 0.25s ease;
}
.left-content a .cat-content .cat-text .icon-arr svg rect,
.right-col .news a .cat-text .icon-arr svg rect,
.right-col .team a .cat-text .icon-arr svg rect{
    transition: fill 0.25s ease;
}

.left-content a:hover .cat-content .cat-text .icon-arr svg path,
.right-col .news a:hover .cat-text .icon-arr svg path,
.right-col .team a:hover .cat-text .icon-arr svg path{
    stroke: $mainTextColor;
}

.left-content a:hover .cat-content .cat-text .icon-arr svg rect,
.right-col .news a:hover .cat-text .icon-arr svg rect,
.right-col .team a:hover .cat-text .icon-arr svg rect{
    fill: $mainTextColor;
}

/* toggle menu hamburger */

#header.toggle{
	background-color: #1d242e; 
	height: 100%;
	//position: absolute;
	//display: block;
	.menu-inner{
		display: block;
		overflow: auto;
	}
}

/* end of toggle menu hamburger */

/* styles after destroyed fullpage slider (max-width: 992px) || (max-height: 600px) */

body.slider-destroyed{
	@include clearfix;
	.section .bg-img,
	.custom-row,
	.left-content a,
	.custom-row.col-2>a,
	.main-fix-content .heading p,
	.main-fix-content .heading p::before,
	.right-col .news{
		opacity: 1;
	}
		.menu-inner{
		display: none;
		height: 100%;
		padding-top: 95px;
		li{
			display: block;
			text-align: center;
			a{
				@include font-size(3.6);
				@include line-height(4.001);
				padding: 13px 0;
			}
		}
		nav{
			float: none !important;
		}
		.left-menu, 
		.right-col nav {
			margin-left: 0;
		}
		.right-col{
			padding-left: 0 !important;
			height: 100%;
		}
		.left-col{
			float: none !important;
			width: 100% !important;
			padding-left: 0 !important;
		}
		.right-menu{
			width: 100%;
			text-align: center;
			a{
				@include font-size(2.4);
				@include line-height(3);
			}
		}
		.personal{
			//float: none;
			width: 100%;
			text-align: center;
			position: relative;
			right: 0;
			a{
				margin-top: 40px;
				margin-bottom: 40px;
				@include font-size(2.4);
				@include line-height(3);
			}
			svg{
				width: 30px;
				height: 40px;
				top: -5px;
			}
		}
	}
	#header {
        @include clearfix;
    }
	.section .bg-img{
		transform: none;
		display: none;
	}
	#header,
	.main-fix-content .heading p::before{
		transition: none;
	}
	.section{
		position: relative;
	}
	#fullpage > div:not(#section0){
		display: none;
	}
	.custom-row.col-2>a{
		margin-right: 0;
	}
	.section .slider-content{
		&::before{
			width: 100%;
		}
	}
	.logo{
		position: fixed;
	}
	#footer{
//		position: absolute;
//		position: relative;
		transform: none;
		transition: none;
	}
	.flxmd{
		position: absolute;
		//transform: none;
		transition: none;
	}
	#fullpage {
        background-color:transparent;
        background: url(../img/mainSlider/slider-1.jpg) center no-repeat;
        background-size: cover;
        padding-bottom: 100px;
    }
    .slider-content .content-row:first-child {
        margin-top: 0;
        //padding-top: 20%;
    }
}

/* end styles after destroyed fullpage slider (max-width: 992px) || (max-height: 600px) */


/* styles for inner pages */

body.inner{
    background-color: $bgInnerColor;
	min-width: 1024px;
}
#header.no-fixed{
    position: absolute;
}
#footer.no-fixed{
    position: relative;
    height: 620px;
    background-color: $addTextColorlight;
    /* transition: none; */
	top: -100px;
	opacity: 0!important;
	transition: opacity .4s ease, top 1s ease;
	transition-delay: .5s;
    .social li a svg path{
        fill: $addTextColor;
    }
    .social li a:hover svg path{
        fill: $mainTextColorDark;
    }
    .lang span{
        color: $mainTextColorDark;
        &::after{
            background-color: #565b61;
            height: 1px;
            border-bottom: 1px solid #bbb;
        }
    }
    .lang a.eng:hover{
            color: $mainTextColorDark;
    }
    .copyright span,
    .terms-of-use{
        color: $mainTextColorDark;
    }
    .copyright span{
        border-right: 2px solid #a7a7a7;  
        /* border-right-style: double; */
    }
}
#footer.no-fixed.done{
	top: 0;
	opacity: 1 !important;
}
#footer.no-fixed .footer-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2.8125%;
}
#footer.no-fixed .footer-menu{
    box-sizing: border-box;
    @include font-size(0);
    margin: 0 auto;
//    padding: 80px 0 100px;
    padding: 80px 0 0 0;
    padding-top: 90px;
    width: 81.25%;
}
#footer.no-fixed .footer-menu a{
    color: $addTextColorDark;
    transition: color 0.25s ease;
    display: inline-block;
    width: 100%;
}
#footer.no-fixed .footer-menu a:hover,
#footer.no-fixed .footer-menu a:active{
    color: $mainTextColorDark;
}
#footer.no-fixed .footer-menu > li{
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
#footer.no-fixed .footer-menu > li:first-child{
    padding-left: 8.38%;
}
#footer.no-fixed .footer-menu ul,
#footer.no-fixed .footer-menu li{
    font-family: 'FuturaNewBook', $font-stack-helvetica;
    @include font-size(1.8);
    @include line-height(3.0);
}
#footer.no-fixed .footer-menu .font-modifier{
    @include font-size(2.4);
    @include line-height(6.001);
}
#footer.no-fixed .footer-menu li > ul > li:not(.font-modifier){ 
    a{
        padding: 17px 0;
        padding-right: 18%;
        box-sizing: border-box;
    }
}
#footer.no-fixed .footer-menu li > ul > li:not(.font-modifier):nth-child(n+2){
    a{
        padding: 14px 0;
        padding-right: 18%;
        box-sizing: border-box;
    }
}

.flxmd.no-fixed{
    position: absolute;
    bottom: 70%;
    transition: none;
    a{
        color: $mainTextColorDark;
    }
    span{
        color: $addTextColorDark;
    }
}

.head-title p{
    @include font-size(4.801);
    @include line-height(5.201); 
    font-family: 'FuturaNewMedium', $font-stack-helvetica;
}
.breadcrumbs{
    /* @include font-size(0); */
    @include font-size(1.6);
    @include line-height(3.6);
    li{
        display: inline-block;
        padding: 0 8px;
        /* @include font-size(1.6);
        @include line-height(3.6); */
        a::after{
            content: '';
            display: inline-block;
            width: 1px;
            height: 19px;
            transform: rotate(30deg);
            background-color: $addTextColor;
            position: relative;
            left: 11px;
            top: 4px;
        }
    }
}
section.head.about,
section.head.contacts,
section.head.avtoram{
    height: 421px;
    position: relative;
    padding: 0;
    background-image: url('../img/bg-inner-pages/bg-about.jpg');
    background-size: cover;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: .25s;
    &::before{
        content: '';
        width: 42.5%;
        height: 100%;
        opacity: .5;
        background-color: #1d242e;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .right-col{
        float: left;
        width: 57.5%;
    }
    .head-title{
        padding-top: 190px;
        padding-bottom: 28px;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .55s;
    }
    .breadcrumbs{
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: 1.05s; 
    }
    .news{
        width: 50%;
        box-sizing: border-box;
        padding-left: 14.13%;
        float: left;
        margin-top: 213px;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: 1.05s !important; 
    }
    .news.with-tags{
        margin-top: 173px;
    }
}
section.head.about{
    background-image: url('../img/bg-inner-pages/bg-about.jpg');
}
section.head.contacts{
    background-image: url('../img/bg-inner-pages/bg-contacts.jpg');
}
section.head.avtoram{
    background-image: url('../img/bg-inner-pages/bg-avtoram.jpg');
}

body.ready section.head,
body.ready section.head .head-title,
body.ready section.head .breadcrumbs,
body.ready section.head .news{
    opacity: 1;
}
body.ready section.head .breadcrumbs{
	margin-left: -8px;
	li{
		color: rgba(242, 239, 233, .7);
		font-family: 'FuturaNewLight', $font-stack-helvetica;
		@include font-size(1.6);
		@include line-height(3.6);
	}	
}

.breadcrumbs li > a{
    color: rgba(217, 195, 156, .7);
    transition: color .25s ease;
}
.breadcrumbs li a:hover{
    color: rgba(217, 195, 156, 1);
}

.inner-content{
	opacity: 0;
	transition: opacity 0.5s ease;
    .inner-row{
        width: 100%;
        @include clearfix;
    }
    .left-col{
        width: 36.875%; /* 590px/1600px */
        box-sizing: border-box;
    }
    .right-col{
        width: 63.125%; /* 1010px/1600px */
        float: right;
        padding-right: 9.375%; /* 150px/1600px */
        box-sizing: border-box;
    }
}

.inner-content.ready{
	opacity: 1;
}
.inner-content-menu{
    @include font-size(1.8);
    @include line-height(7.201);
    font-family: 'FuturaNewMedium', $font-stack-helvetica;
	margin-top: 77px; // отступ равный отступу inner-row
    a{
        transition: color 0.25s ease; 
    }
    a.active{
        color: $mainTextColorDark;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $mainTextColorDark;
            display: block;
            position: relative;
            top: -22px;
        }
    }
    a:hover{
       color: $mainTextColorDark; 
    }
}

.main-info{
    position: relative;
    margin-bottom: 135px;
	//@include clearfix;
//	.bg-block{
//		position: absolute;
//		will-change: transform;
//        font-family: 'FuturaNewBold', $font-stack-helvetica;
//        @include font-size(35.004);
//        @include line-height(1.8);
//        color: $mainTextColor;
//        z-index: -1;
//		bottom: 40px; /* 150px */
//		transform: translateY(-150px);
//        left: -155px;
//		opacity: 0;
//		transition: transform 1s ease-in, opacity .7s ease-in;
//		transition-delay: 2.5s;
//	}
    &::after{
        content: '18';
		will-change: transform;
        position: absolute;
        font-family: 'FuturaNewBold', $font-stack-helvetica;
        @include font-size(35.004);
        @include line-height(1.8);
        color: $mainTextColor;
        z-index: -1;
		bottom: 40px; /* 150px */
		transform: translateY(-150px);
        left: -155px;
		opacity: 0;
		transition: transform 1s ease-in, opacity .7s ease-in;
		transition-delay: 2.5s;
    }
    .subject-title{
        padding: 25px 0 35px;
    } 
}
.main-info.done{
    &::after{
		content: '18';
		opacity: 1;
        //bottom: 40px;
		transform: translateY(0);
    } 
}
#avtoram .main-info{
    &::after{
        content: ' ';
        background-image: url('../img/svg/logo_epio_bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		width: 300px;
		height: 300px;
		top: 186px;
		left: -107px;
		opacity: .5;
    }
}
#history{
    margin-bottom: 90px;
}
.inner-row{
    padding-top: 77px;
}
.right-col.padding-modifier{
    padding-right: 16.25%; 
}
.inner-row{
    color: $mainTextColorDark;
    .subject-title{
        font-family: 'MinionPro-Semibold', $font-stack-helvetica;
        @include font-size(2.4);
        @include line-height(3.2);
        padding-top: 15px;
        width: 67.13%;
    }
    .subject-text{
        font-family: 'MinionPro-Regular', $font-stack-helvetica;
        @include font-size(1.8);
        @include line-height(2.4);
        padding-bottom: 25px;
    }
    .subject-text:nth-child(3){
        width: 70.30%;
    }
    .additional-text{
        font-family: 'MinionPro-Regular', $font-stack-helvetica;
        @include font-size(1.8);
        @include line-height(3.6);
        background-color: $addTextColorlight;
        display: inline;
        padding: 4px 0;
    }
}


.inner-content-history{
    box-sizing: border-box;
    margin: 0 auto;
    width: 81.25%;
    @include font-size(0);
    li{
        display: inline-block;
        box-sizing: border-box;
        width: 33.333%;
        vertical-align: top;
        .count{
            color: $addTextColor;
            font-family: 'FuturaNewBook', $font-stack-helvetica;
            @include font-size(9.001);
            @include line-height(5.001);
            float: left;
            margin-right: 20px;
        }
        .count-content{
            color: $mainTextColorDark;
            font-family: 'FuturaNewMedium', $font-stack-helvetica;
            @include font-size(2.6);
            @include line-height(3.0);
            overflow: hidden;
        }
    }
    
}
.quote{
    box-sizing: border-box;
    width: 74.46%;
    margin-bottom: 35px;
    p{
        color: $mainTextColorDark;
        font-family: 'MinionPro-MediumIt', $font-stack-helvetica;
        @include font-size(2.4);
        @include line-height(3.6);
        position: relative;
    }
    & > p::before{
        content: '';
        background: url('../img/svg/quotes.svg') no-repeat;
        position: absolute;
        height: 105px;
        width: 100px; 
        opacity: .2;
        left: -76px;
        top: -51px;
        z-index: -1;
    }
    .team-user{
        float: none;
        position: static;
        width: 100%;
        padding: 0;
        opacity: 1;
        margin-top: 30px;
    }
    .custom-user .username,
    .custom-user:hover .username,
    .custom-user:active .username{
        font-family: 'MinionPro-Semibold', $font-stack-helvetica;
        color: $addTextColor;     
    }
    .custom-user__info{
        overflow: hidden;
    }
    .custom-user__avatar{
        float: left;
        margin-right: 28px;
    }
    .custom-user__position{
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        color: $mainTextColorDark;
    }
}

.inner-row.expertise,
.inner-row#investments{
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    &::before{
        content: '';
        position: absolute;
        box-sizing: border-box;
        background-image: url('../img/bg-inner-pages-content/world-map.png');
        background-repeat: no-repeat;
        left: 0;
        //top: 150px;
        top: 100px;
		opacity: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
		transition: top 1s ease-in, opacity .7s ease-in;
		transition-delay: .5s;
    }
    .block-title{
//        padding-left: 18.47%; /* 109px/590px */
        padding-left: 27.47%; /* 109px/590px */
        box-sizing: border-box;
    }
}
.inner-row.expertise.done{
	&::before{
		top: 250px;
		opacity: 1;
	}
}
.inner-row#investments{
	&::before{
        content: '';
		display: none;
    }
}
.right-col.padding-modifier{
    .subject-title{
        width: 100%;
        padding-bottom: 35px;
    }
    .right-text{
//        width: 30.79%; /* 311px/1010px */ 
        width: 38.79%; /* 311px/1010px */ 
    }
    .left-text{
        overflow: hidden;
        padding-right: 1.98%; /* 20px/1010px */
    }
    .subject-text{
        padding-bottom: 27px;
    }
    .subject-text:nth-child(3){
        width: 100%;
    }
}

.team-slider-block{
    float: none;
    clear: both;
    padding: 0 16.25%; /* 260px/1600 */
    box-sizing: border-box;
    overflow: hidden;
    
    .team-slider-nav{
        margin-top: 95px;
        overflow: hidden;
        float: none;
    }
    
    .team-slider{
        margin-top: 55px;
        overflow: hidden;
        width: 81.48%; /* 880px/1080px */ 
        float: right;          
    }
    
    /* end of custom settings slider */
    .team-slider-nav{
        .right-arr, 
        .left-arr{
            position: relative;
            display: inline-block !important;
            height: 35px;
            width: 35px; 
            cursor: pointer;
            vertical-align: middle;
        }
        
        .right-arr{
            background-image: url('../img/svg/next_for_epio.svg');
            background-repeat: no-repeat;
        }
        .left-arr{
            background-image: url('../img/svg/left_for_epio.svg'); 
            background-repeat: no-repeat; 
        }
        
        .right-arr.slick-disabled,
        .left-arr.slick-disabled{
            position: relative;
            height: 25px;
            width: 25px;
            opacity: .6;
        }
        
        .right-arr.slick-disabled{
            background-image: url('../img/svg/next_for_epio.svg');
            background-repeat: no-repeat; 
        }
        .left-arr.slick-disabled{
            background-image: url('../img/svg/left_for_epio.svg');
            background-repeat: no-repeat;
            position: relative;
            margin: 5px;
        }
        .delimiter{
            display: inline-block;
            width: 2px;
            height: 48px;
            background-color: $addTextColor;
            margin: 0 13px;
            vertical-align: middle;
        }
    }
    .custom-user__avatar{
        width: 126px;
        height: 126px;
        border-radius: 50%;
        overflow: hidden;
    }
    .custom-user .username,
    .custom-user:hover .username,
    .custom-user:active .username{
        font-family: 'MinionPro-Semibold', $font-stack-helvetica;
        color: $addTextColor;     
    }
    .custom-user__position{
        font-family: 'FuturaNewBook', $font-stack-helvetica;
        color: $mainTextColorDark;
    }
    .custom-user .custom-user__desk,
    .custom-user:hover .custom-user__desk,
    .custom-user:active .custom-user__desk{
        color: $mainTextColorDark; 
        padding-right: 20px;
    }
    
    .team-user{
        opacity: 1;
        position: static;
        padding: 0;
        padding-right: 45px;
        float: left;
    }
}

.info-panel{
    position: relative;
    z-index: 0;
    margin: 95px 0 115px;
    p{
        font-family: 'MinionPro-Semibold', $font-stack-helvetica;
        @include font-size(4.801);
        @include line-height(6.001); 
        padding-left: 10.89%; /* 110px/1010px */
//        padding-right: 25.74%; /* 260px/1010px */
        position: relative;
		top: -100px; /* 100px */
//		top: 0;
		opacity: 0;
		transition: top 1s ease-in, opacity 0.7s ease-in;
		transition-delay: .5s;
        &::before{
            content: '';
            display: inline-block;
            width: 5px;
            height: 40px;
            transform: rotate(45deg);
            background-color: $addTextColor;
            position: absolute;
            left: 35px;
            top: 10px;
        }
    }
    &::before{
        content: '';
        display: inline-block;
        height: 361px;
        width: 530px;
        position: absolute;
        background-color: $addTextColorlight;
        top: -90px;
        left: -13.2%;
        z-index: -1;
    }
}
.info-panel.done p{
//	top: -50px;
	top: 0px;
	opacity: 1;
}

.info-panel.with-button{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 54.875%;
    background-color: #fff;
    height: 252px;
    //padding: 0 108px;
    p{
        font-family: 'FuturaNewMedium', $font-stack-helvetica;
        @include font-size(3.6);
        @include line-height(4.201);
        color: $mainTextColorDark;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding: 84px 0;
//        padding-left: 25%;
        padding-left: 24%;
        box-sizing: border-box;
        float: left;
        width: 50%;
        height: 100%;
		position: relative;
        &::before{
//            left: -45px;
//            top: -10px;
			left: 38%;
            top: 67px;
            position: absolute;
        }
    }
    a.button{
        display: inline-block;
        width: 220px;
        height: 53px;
        line-height: 53px;
        color: #fff;
        font-family: 'FuturaNewHeavy', $font-stack-helvetica;
        background-color: $addTextColor;
        @include font-size(1.198);
        text-transform: uppercase;
        letter-spacing: .199em;
        text-align: center;
        margin: 100px 0;
    }
    &::before{
        display: none;
    }
}

.inner-row.how-we-work .subject-title {
    padding-top: 25px;
}

.bunners-block{
    float: none;
    clear: both;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 80px 0 105px;
    width: 81.25%;
    font-size: 0;
    li.banners-item{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        box-sizing: border-box;
        padding-right: 8%;
        i{
            margin-bottom: 35px;
            display: block;
        }
    }
}

/* animation blocks */

 .animation {
    transition: opacity 0.4s ease;	
}

.animation.opacity {
    transition-delay: .5s;
    opacity: 0 !important;
}

.animation.opacity.del1{
	transition-delay: 1s;
}
.animation.opacity.del2{
	transition-delay: 1.5s;
}
.animation.opacity.del3{
	transition-delay: 2s;
}
.animation.opacity.del4{
	transition-delay: 2.5s;
} 
.animation.done {
    transform: none;
    opacity: 1 !important;
}


/* contacts.html matker-popup and other styles */

.inner-content.map-container{
    position: relative;
}

.marker-item-block{
    position: absolute;
    z-index: 2;
    top: 95px;
    a{
        display: block;
        font-family: 'FuturaNewMedium', $font-stack-helvetica;
        @include font-size(1.8);
        @include line-height(6.001); 
        color: $addTextColorDark; 
    }
    a.marked{
        color: $mainTextColorDark; 
    }
}

.marker-block{
    display: none;
}

.marker-popup{
    padding: 20px 35px;
    p:not(:last-child){
        margin-bottom: 5px;
    }
    .tip_title{
        font-family: 'FuturaNewMedium', $font-stack-helvetica;
        @include font-size(2.6);
        @include line-height(3.6); 
        color: $mainTextColorDark;
    }
    .tip_address,
    .tip_link,
    .tip_phone,
    .tip_mail{
        font-family: 'MinionPro-Regular', $font-stack-helvetica;
        @include font-size(1.8);
        @include line-height(2.6); 
        color: $mainTextColorDark;
    }
    .tip_link a,
    .tip_mail a{ 
        color: $addTextColorDark;
        img{
            width: 10px;
            margin-right: 10px;
        }
        span{
            border-bottom: 1px dotted;
        }
    }
    .tip_link a:hover{
        span{
            border-bottom: none;
        }
    }
    .tip_mail{
        a{
          text-decoration: underline;  
        }
    }
}
.gm-style-iw {
    width: 100%!important;
    top: 0 !important;
    left: 0 !important;
    //height: 275px!important;
    //bottom: 0!important;
    //right: 0!important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}

.height-mod,
.infowindow{
    height: 0!important;
    //margin-left: 120px;
	//max-width: 375px;
//	width: 375px;
}
.marker-popup {
    min-width: 200px;
	max-width: 375px;
}

.close-infobox{
    background-image: url('../img/svg/close_pin.svg');
    background-size: cover;
    width: 17px;
    height: 17px;
    overflow: hidden;
}

.write-to-us{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    bottom: 80px;
    .info-panel.with-button{
        display: inline-block;
		margin: 0;
    }
}

/* end contacts.html styles */