/* --- general styles --- */

html {
    font-size: 62.5%; /* Sets up the Base 10 stuff 100%/1.6 */
}

body {
    background-color: #1d242e;
    height: 100%;
    width: 100%;
    color: $mainTextColor;
    #header{
        text-align: center;
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 2s ease, transform 1s ease;
        transition-delay: 2.5s;
    }
    #footer{
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 2s ease, transform 1s ease;
        transition-delay: 2.5s;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

h1,
.h1 {
    @include font-size(3);
    font-family: 'MinionPro-Semibold';
    color: #fff;
    margin: 0;
    padding: 30px;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}

/* --- end of general styles --- */

body.ready{
    #header,
    #footer,
    #fp-nav.nav-slider{
        opacity: 1;
        transform: translateY(0); 
    } 
    .flxmd{
        opacity: 1;
        transform: translateY(-374%); 
    } 
}

.wrap{
    max-width: 1300px;
    min-width: 890px;
    width: 100%;
    margin: 0 auto;
//    @include clearfix;
}

#header {
    position: fixed;
    top: 0;
    right: 2.5%;
    left: 2.5%; 
    padding-top: 2.625%; /* 42px/1600px */
//    text-align: center;
    .wrap{
        display: inline-block;
    }
}
#header .left-col{
    width: 39.35%; /* ? */
    box-sizing: border-box;
    float: left;
    text-align: left;
    padding-left: 3.59%;
//    margin-left: -18px;  /* сдвигаем на отступ меню */
}
#header .right-col{
    width: 57.5%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    nav{
//        margin-left: 12.73%; /* 130px-18px/880px */
        padding-left: 12.5%;
        width: 69.5%;
        float: left;
        box-sizing: border-box;
    }
}
.logo{
    height: 50px;
    width: 50px;
    float: left;
//    margin-right: 2.76%; /* 60px-18px(отступ у ссылки)/(1600-40*2) */
    /* margin-left: -6.875%; */ /* 110px/1600px */
    svg path{
        fill: #d9c39c;
    }
}
nav{
    display: inline-block;
}
nav ul{
    @include font-size(0);
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    @include font-size(1.8); 
    color: $mainTextColor;
    padding: 0 18px;
//  padding: 0 2.65%;
}
.left-menu{
    margin-top: 2.8%;
    a{
        font-family: 'FuturaNewMedium'; 
    }
}
.right-menu{
    margin-top: 2.4%;

    a{
        font-family: 'FuturaNewLight'; 
    }
}

.personal{
    float: left;
    margin-top: 1%;
    width: 30.3%;
    box-sizing: border-box;
    padding-left: 5.4%;
    /* position: relative; */
    /* right: -22px; */
    a{
        color: $mainTextColor;
        @include font-size(1.8);
        display: block;
        font-family: 'FuturaNewLight';
    }
    svg{
        fill: $mainTextColor;
        display: inline-block;
        padding-right: 7px;
        width: 20px;
        position: relative;
        top: 3px;
    }
    
}

// popup
#hamburger{
        line-height:45px;
        padding:0px 15px 0px 15px;
        color:#fff;
        font-size:1.4em;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        z-index: 100;
    }   

.popup_menu{
        display: none;
    }
    .popup_menu.menu-open{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #1e252f;
        z-index: 999;
    }

/* slider begin */

#fullpage {
    background-color: #1d242e;
    height: 100%;
    width: 100%;
}

.section {
    position: relative;
    text-align: center;
    height: 100% !important;
    width: 100%;
    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
            /* object-fit: cover; */
            opacity: 0.5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .slider-content {
        position: relative;
        z-index: 1;
        height: 100%;
        &::before{
            content: '';
            width: 42.5%; /* 680px/1600px */
            height: 100%;
            opacity: 0;
            background-color: #1d242e;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: opacity 1s ease;
        }   
    }   
}
.section.fp-section.active.completely {
    .bg-img {
        img{
            opacity: 1;
            transition: opacity 1s ease;
        }
    }
    .slider-content{
        transition-delay: 1s;  
    }   
}
.content{
    text-align: left;
    padding-top: 12.7%;
    position: relative;
}
a{
    display: inline-block;
    color: $addTextColor;
}
.cat-number{
    font-family: 'FuturaNewBook';
    @include font-size(9.001);
    float: left;
    padding-right: 20px;
}
.cat-content{
    overflow: hidden;
    .tags{
        font-family: 'FuturaNewBook';
        color: $greyTextColor;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        @include font-size(1.2);
        @include line-height(1.804);
        padding-bottom: 10px;
    }
    .cat-text{
        font-family: 'FuturaNewBook';
        @include font-size(2.6);
        @include line-height(3);
    }
}
        .left-content{
            float: left;
            margin-top: 23.4%;
//            width: 38.9%;
            width: 42.5%;
            padding-left: 9.375%;
            box-sizing: border-box;
//      position: absolute;
            a{
                width: 75%;
                opacity: 0;
            }
        }
        .right-content{
            float: left;
            width: 57.5%;
        }
.slider-content .right-content{
    margin-top: 5.15%; /* 9.55 */
//    width: 61.1%;
    width: 57.5%;
    float: left;
    .row{
        margin-top: 6.40%; 
        @include font-size(2.4);
        @include line-height(3.2);
//        width: 70.52%; /* 543/770 */
//        margin-left: 6.5%;
        width: 66.30%; /* 610/920 */
        float: left;
        display: inline-table;
        margin-bottom: 2.5%;
        opacity: 0;
        padding-left: 7.61%;
        box-sizing: border-box;
    }
}

time{
    font-family: 'FuturaNewBook';
    color: $greyTextColor;
    @include font-size(1.8);
    @include line-height(2.4);
    float: left;
    text-align: right;
    top: 10px;
    display: table-cell;
    padding-right: 20px;
    position: relative;
    top: 9px;
    span{
        color: $mainTextColor; 
        @include font-size(4.001);
        @include line-height(2.4);
        display: block;
        padding-bottom: 5px;
    }
}

.news-cont{
    font-family: 'MinionPro-Semibold';
    color: $mainTextColor;
    @include font-size(2.4);
    @include line-height(3.2);
    display: table-cell;
    vertical-align: top;
    p:not(.tags){
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: -20px;
            background-color: #6f7881;
        }
    }
}
.row.col-2{
    .news-cont{
    font-family: 'MinionPro-Regular';
    color: $mainTextColor;
    @include font-size(1.797);
    @include line-height(2.395);
        p:not(.tags){
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: -20px;
                background-color: #6f7881;
            }
        }
    a{
        
        vertical-align: top;
    }
    time{
        font-family: 'FuturaNewBook';
        color: $greyTextColor;
        @include font-size(1.797);
        @include line-height(2.395);
        top: 7px;
        span{
            @include font-size(3.992);
            @include line-height(2.395);
        }
    }
    }  
}
.row.col-2 > a:first-child{
    width: 45.54%;
    box-sizing: border-box;
    opacity: 0;
}
.row.col-2 > a:last-child{
    width: 45.8%;
    vertical-align: top;
    margin-left: 7.46%;
    opacity: 0;
}

.tags{
    font-family: 'FuturaNewBook';
    color: $greyTextColor;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include font-size(1.2);
    @include line-height(1.8);
    padding-top: 10px;
}

.team-user{
    float: right;
    position: relative;
//    right: -77px;
//    width: 21.43%;
    opacity: 0;
    width: 33.70%;
    box-sizing: border-box;
    padding-left: 7.61%; /* 70/920 */
    padding-right: 9.78%; /* 90/920 */
    .custom-user__avatar{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .username{
        color: $mainTextColor;
        font-family: 'MinionPro-Semibold';
        @include font-size(2.395);
        @include line-height(3.2);
        margin-bottom: 3px;
    }
    .custom-user__position{
        @include font-size(1.198);
        @include line-height(1.8);
        letter-spacing: 0.199em;
    }
    .custom-user__desk{
        color: $mainTextColor;
        font-family: 'MinionPro-Regular';
        @include font-size(1.797);
        @include line-height(2.395);
        margin-top: 20px;
    }
}
.icon-arr{
    display: inline-block;
    width: 21px;
    position: relative;
    top: 7px;
}
body.ready #fullpage.loaded{
    .section .slider-content::before{
        opacity: 0.5;
        /* transition-delay: 2s; */
    }
    .section.active .left-content a{
        opacity: 1;
        transition: opacity 0.5s ease;
        /* transition-delay: 2.5s; */
         transition-delay: .1s; 
    }
//    .section.active .left-content a{
//        transition-delay: 0.3s;
//    }
    .section.active .slider-content .right-content{
        .row,
        .team-user{
            opacity: 1;
            transition: opacity 0.5s ease;
            /* transition-delay: 2.7s; */
            transition-delay: .3s;
        }
        .row.col-2{
            a:first-child{
                /* transition-delay: 2.9s; */
                opacity: 1;
                transition: opacity 0.5s ease;
                transition-delay: .5s;
            }
            a:last-child{
                /* transition-delay: 3s; */
                opacity: 1;
                transition: opacity 0.5s ease;
                transition-delay: 0.7s;
            }  
        }
        .team-user{
            /* transition-delay: 3.2s; */
             transition-delay: 0.9s; 
        }
    }
} 

.section .bg-img {
    opacity: 0;
    transform: rotate(20deg) scale(2);
}

.section.active .bg-img {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition: opacity 0.3s ease, transform 4s linear;
}

#fp-nav.nav-slider{
    position: fixed;
    bottom: 5.3%; /* 45px/962px + отступ */
    /* right: 19.7%; */
    right: 12.6%;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 1s ease; /* прозрачность при появлениии */
    transition-delay: 2.5s;
    .js-nav-curent{
        color: $addTextColor;
        font-family: 'FuturaNewBook';
        @include font-size(2.6);
        @include line-height(3.4);
        position: relative;
        bottom: 15px;
        left: 25px;
        &::before{
            content: '';
            display: inline-block;
            position: relative;
            bottom: 5px;
            right: 9px;
            height: 2px;
            width: 17px;
            background-color: $addTextColor;
        } 
    }
    ul li{
        float: left;
        width: 30px;
        height: 48px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }
    ul > li:last-child a::after{
        display: none;
    }
    a{
        position: relative;
    }
    a:after{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 6px;
        background-color: #65696e;
    }
    a span{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 14px;
        margin: 0;
        padding: 0;
        height: 4px;
        background-color: #fff;
        width: 2px;
//        bottom: 0;
        transition: height 1s ease, background-color 1s ease;
        /* @include transition(all); */ /* height, background-color */
    }
    a:hover span{
        height: 8px;
        width: 2px;
    }
    a.active span{
       height: 48px;
       background-color: $addTextColor;
    }
}

/* end slider */

body.ready{
    .main-fix-content {
        .heading p{
            opacity: 1;
            transition: opacity 0.5s ease;
            transition-delay: 1.9s;
            &::before{
                content: '';
                position: absolute;
                left: -50px;
                top: 29px;
                width: 37px;
                height: 5px;
                opacity: 1;
                transform: scaleX(1);
                transition: opacity 0s ease, transform 0.3s ease;
                transition-delay: 4.2s;
            }  
        }
        .right-col{
            .news,
            .team{
                opacity: 1;
                transition: opacity 0.5s ease;
                transition-delay: 2.4s;
            }
            .team{
                transition-delay: 3s;
            }
        }
    }
}

.main-fix-content{
    position: absolute;
    width: 100%;
    height: 0; /* иначе перекрывает контент слайдов */
    top: 22.9%; /* 212px */
    left: 0;
    @include clearfix;
    .left-col{
        float: left;
//        width: 38.9%; /* 530px/1300px */
        width: 42.5%;
        padding-left: 9.375%;
        padding-right: 2.5%;
        box-sizing: border-box;
    }
    .right-col{
        float: left;
//        width: 61.1%; /* 100%-38.9% */
        width: 57.5%;
//        margin-right: -8%;
        overflow: visible!important;
        margin-top: 20px;
    }
    .heading p{
        font-family: 'FuturaNewMedium'; 
        @include font-size(4.801);
        @include line-height(5.201);
        position: relative;
        opacity: 0;
        &::before{
            content: '';
            opacity: 0;
            transform: scaleX(0.1);
            transition-delay: 4.2s;
            background-color: $mainTextColor;
        }
    }
}
.main-fix-content .right-col{
    overflow: hidden;
    .news{
//        width: 54.55%;
//        margin-left: 14.77%;
        width: 66.30%;
        box-sizing: border-box;
//        padding-left: 14.13%;
        padding-left: 13.5%;
        float: left;
        opacity: 0;
        
    }
    .team{
//        width: 13.98%;
        width: 33.70%;
        box-sizing: border-box;
        float: right;
//        margin-left: 8.07%;
        padding-left: 7.61%;
        padding-right: 4.35%;
        position: relative;
//        right: -30px;
        opacity: 0;
    }
}

/* footer */

#footer {
    position: fixed;
    right: 2.5%;
    left: 2.5%; 
    bottom: 4.67%; /* 42px/1600px */
}
.social,
.lang,
.copyright{
   display: inline-block; 
}
.social{
    margin: -7px;
    position: relative;
    bottom: -5px;
    /* margin-left: -7.3125%; */ /* (110px+7px)/1600px */
    @include font-size(0);
    li{
        
        display: inline-block; 
        a{
            display: inline-block;
            width: 27px;
            padding: 7px;
        }
        svg{
            fill: $mainTextColor;
        }
    }    
}
.lang{
    margin-left: 8.22%;
    span{
       font-family: 'MinionPro-It';
        @include font-size(1.8);
    }
    span::after{
        content: '';
        display: inline-block;
        margin: 0 4px 0 7px;
        position: relative;
        bottom: 3px;
        height: 2px;
        width: 26px;
        background-color: #c3c4c5;
    }
    a.eng{
        color: $addTextColor; 
        font-family: 'MinionPro-Regular';
        @include font-size(1.8);
    }
}
.copyright{
//    margin-left: 34.85%; /* 453px/1300px */ 
    /* margin-left: 32.7%; */ 
    margin-left: 30.5%; 
    font-family: 'FuturaNewBook';
    @include font-size(1.2);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #b7b5b1;
    span{
        border-right: 2px solid #787878;
        padding: 0 11px;
    } 
    a.terms-of-use{
        color: $greyTextColor;
        padding: 0 11px;
    }
}
.flxmd{
    position: fixed;
    text-transform: uppercase;
    color: $greyTextColor;
    //transform: translateX(44%);
    right: 2.5%;
    bottom: 4.68%;
    font-family: 'FuturaNewBook';
    opacity: 0;
//    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 2.7s;
    @include font-size(1.2);
    a{
        transform: rotate(270deg);
        position: relative;
        right: -45%;
        span{
            color: $addTextColor;
        }
    }
    
}
